<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Torneo.App.Frontend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Torneo.App.Frontend.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Torneo Grupo </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button"
                                aria-expanded="false">Municipio</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Municipios/Create">Crear</a></li>
                                <li><a class="dropdown-item" href="/Municipios/Index">Listado</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button"
                                aria-expanded="false">D.T.s</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/DTs/Create">Crear</a></li>
                                <li><a class="dropdown-item" href="/DTs/Index">Listado</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/Equipos/Index" role="button"
                                aria-expanded="false">Equipos</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Equipos/Create">Crear</a></li>
                                <li><a class="dropdown-item" href="/Equipos/Index">Listado</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/Posiciones/Index" role="button"
                                aria-expanded="false">Posiciones</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Posiciones/Create">Crear</a></li>
                                <li><a class="dropdown-item" href="/Posiciones/Index">Listado</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button"
                                aria-expanded="false">Arbitros</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Arbitros/Create">Crear</a></li>
                                <li><a class="dropdown-item" href="/Arbitros/Index">Listado</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button"
                                aria-expanded="false">Jugadores</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Jugadores/Create">Crear</a></li>
                                <li><a class="dropdown-item" href="/Jugadores/Index">Listado</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button"
                                aria-expanded="false">Partidos</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Partidos/Create">Crear</a></li>
                                <li><a class="dropdown-item" href="/Partidos/Index">Listado</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button"
                                aria-expanded="false">Estadios</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Estadios/Create">Crear</a></li>
                                <li><a class="dropdown-item" href="/Estadios/Index">Listado</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Torneo.App.Frontend - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>